// On Single.php

article.post, article.page
  width: 100%
  margin-bottom: 30px
  padding: 20px
  background: #ffffff
  box-shadow: 1px 0px 1px #575757,0px 1px 1px #757575,2px 1px 1px #575757,1px 2px 1px #757575,3px 2px 1px #575757,2px 3px 1px #757575,4px 3px 1px #575757,3px 4px 1px #757575,5px 4px 1px #575757,4px 5px 1px #757575,6px 5px 1px #575757

  > header

    > h1
      margin: -10px 0 0 0
      padding: 0
      font-family: "PT Sans Narrow", sans-serif
      font-size: 30px

    > time, span
      color: #888

      > a
        color: #888
        text-decoration: underline

        &:hover
          color: #454242

        &:active
          color: #706E6E

  > div.entry
    margin-top: 10px

    > div.wp-caption
      background: #f1f1f1
      line-height: 18px
      padding: 8px 5px 0
      text-align: center
      float: left
      margin: 0 10px 10px 0

      &.alignnone
        float: none

      &.alignleft
        float: left

      &.alignright
        float: right

    > p
      font-family: Georgia, "PT Sans Narrow", Arial
      font-size: 16px
      line-height: 24px

      > a.more-link
        float: right
        text-decoration: none

        &:hover
          text-decoration: none
          color: #333

  > footer.post-meta-data

    > ul

      > li

        > b.edited_single_link
          font: bold 13px Arial
          font-style: italic

          > a
            color: #888

  > h2.archive_header

    > a
      font: bold 28px "PT Sans Narrow"
      color: #000

  > h2.add_comment
    margin-left: 25px

    > a
      font: bold 24px "Lobster"
      color: #000
      border-bottom: 1px dotted #333

      &:hover
        text-decoration: none

// Search page

#content

  > h1.search-header
    font: bold 30px "Lobster"

  > section.posts

    > h1.category-header
      margin: 0px 0 20px 0
      padding: 0
      font-family: "Lobster", sans-serif
      font-size: 30px

    > div.search-result-item
      border-bottom: 1px dotted #333
      padding-bottom: 10px
      margin-bottom: 10px

      > a.post
        text-decoration: none

        > h2.search-post-header
          font: bold 26px "PT Sans Narrow"
          color: #333

          &:hover
            text-decoration: underline

        > div.entry
          cursor: default
          font: 16px Arial
          color: #333

    > .navigation
      margin-top: 20px
      font: bold 22px "PT Sans Narrow"
      font-style: italic
      width: inherit
      margin: 0 auto

      > a
        color: #333

        > div

          &:hover
            text-decoration: underline




// Comments.php

div#comments
  font: 13px Arial
  font-style: italic

  > div#comments-list

    > ol

      > li.comment
        margin-bottom: 50px

        > div.comment-author

          > img.photo
            width: 40px
            height: 40px

          > span
            margin: -38px 0 0 50px
            display: block

        > div.comment-meta
          margin: -3px 0 0 50px

        > div.comment-content
          margin: 5px 0 0 50px

        > div.comment-reply-link
          float: right
          margin-right: 50px

          > a.comment-reply-link
            display: block
            color: #fff
            padding: 5px
            background: #4EADC7
            box-shadow: 1px 0px 1px #208F91,0px 1px 1px #38A1B1,2px 1px 1px #208F91,1px 2px 1px #38A1B1,3px 2px 1px #208F91,2px 3px 1px #38A1B1,4px 3px 1px #208F91,3px 4px 1px #38A1B1,5px 4px 1px #208F91,4px 5px 1px #38A1B1,6px 5px 1px #208F91

            &:hover
              text-decoration: none
              background: #3DAEB4

            &:active
              position: relative
              box-shadow: 1px 0px 1px #208F91,0px 1px 1px #38A1B1,2px 1px 1px #208F91,1px 2px 1px #38A1B1,3px 2px 1px #208F91
              top: 3px
              left: 3px

        &.comment-author-admin
          background: #ffffff
          padding: 10px 10px 30px 10px

          > div.comment-reply-link
            float: right
            margin: -15px 40px 0 0

        > ul.children
          +reset-ul
          margin-top: 40px

          > li
            +reset-list
            background: url(../img/children.png) no-repeat
            background-position: left 8%
            padding-left: 30px
            margin-left: 50px

            > div.comment-author

              > img.photo
                width: 40px
                height: 40px

              > span
                margin: -38px 0 0 50px
                display: block

            > div.comment-meta
              margin: -3px 0 0 50px

            > div.comment-content
              margin: 5px 0 0 50px

            > div.comment-reply-link
              float: right
              margin-right: 50px

              > a.comment-reply-link
                display: block
                color: #fff
                padding: 5px
                background: #4EADC7
                box-shadow: 1px 0px 1px #208F91,0px 1px 1px #38A1B1,2px 1px 1px #208F91,1px 2px 1px #38A1B1,3px 2px 1px #208F91,2px 3px 1px #38A1B1,4px 3px 1px #208F91,3px 4px 1px #38A1B1,5px 4px 1px #208F91,4px 5px 1px #38A1B1,6px 5px 1px #208F91

                &:hover
                  text-decoration: none
                  background: #3DAEB4

                &:active
                  position: relative
                  box-shadow: 1px 0px 1px #208F91,0px 1px 1px #38A1B1,2px 1px 1px #208F91,1px 2px 1px #38A1B1,3px 2px 1px #208F91
                  top: 3px
                  left: 3px

            &.comment-author-admin
              background: url(../img/children.png) no-repeat
              background-position: 1% 18%
              padding: 10px 10px 10px 40px

              > div.comment-reply-link
                float: right
                margin: -15px 40px 0 0



  > div#respond

    > div.formcontainer

      > div

        > div.uLogin_login
          font: bold 18px "PT Sans Narrow"
          line-height: 28px

      > form#commentform

        > p#comment-notes
          margin-top: 10px

div.form-label
  width: 70px
  height: 20px
  float: left

  > label
    float: left
    margin: 0 2px 5px 0
    font: bold 20px "PT Sans Narrow"

  > span.required
    color: red

div.form-submit
  padding-bottom: 20px

  > input.send-comment
    float: right
    margin-right: 10px
    display: block
    border: 0
    color: #fff
    padding: 5px
    background: #4EADC7
    box-shadow: 1px 0px 1px #208F91,0px 1px 1px #38A1B1,2px 1px 1px #208F91,1px 2px 1px #38A1B1,3px 2px 1px #208F91,2px 3px 1px #38A1B1,4px 3px 1px #208F91,3px 4px 1px #38A1B1,5px 4px 1px #208F91,4px 5px 1px #38A1B1,6px 5px 1px #208F91

    &:hover
      text-decoration: none
      background: #3DAEB4

    &:active
      position: relative
      box-shadow: 1px 0px 1px #208F91,0px 1px 1px #38A1B1,2px 1px 1px #208F91,1px 2px 1px #38A1B1,3px 2px 1px #208F91
      top: 3px
      left: 3px

div.form-section

  > div.form-textarea

    > textarea
      width: 98%
      margin-top: 10px

